{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# https://macos-defaults.com/

defaults write com.apple.dock "orientation" -string "bottom"
defaults write com.apple.dock "tilesize" -int "36"
defaults write com.apple.dock "autohide" -bool "true"
defaults write com.apple.dock "autohide-time-modifier" -float "0.5"
defaults write com.apple.dock "show-recents" -bool "false"
killall dock

defaults write com.apple.screencapture "location" -string "~/Downloads/Screenshots"
killall SystemUIServer

defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "false"
defaults write com.apple.finder "AppleShowAllFiles" -bool "false"
defaults write com.apple.finder "ShowPathbar" -bool "true"
defaults write com.apple.finder "FXPreferredViewStyle" -string "Nlsv"
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"
defaults write com.apple.finder "FXDefaultSearchScope" -string "SCcf"
defaults write NSGlobalDomain "NSTableViewDefaultSizeMode" -int "1"
defaults write com.apple.finder "CreateDesktop" -bool "false"
defaults write com.apple.finder "ShowHardDrivesOnDesktop" -bool "false"
defaults write com.apple.finder "ShowExternalHardDrivesOnDesktop" -bool "false"
defaults write com.apple.finder "ShowRemovableMediaOnDesktop" -bool "false"
defaults write com.apple.finder "ShowMountedServersOnDesktop" -bool "false"
killall Finder

defaults write com.apple.TimeMachine "DoNotOfferNewDisksForBackup" -bool "true" 

defaults write com.apple.ActivityMonitor "IconType" -int "5"
killall Activity\ Monitor

{{ end -}}